<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title th:text="#{D0002.title}">title</title>
<style type="text/css">
</style>
<script type="text/javascript">
	
</script>
</head>
<body>
  <div layout:fragment="article">
    <h2 th:text="#{D0002.h2}">h2</h2>
    <!-- 登録フォーム -->
    <form name="D0002RegistForm" action="D0002Regist.ajax" class="regist">
      <fieldset>
        <legend th:text="#{D0002.legend}">legend</legend>
        <div id="oyaId">
          <label for="oyaId" th:text="#{oyaId}">親ID</label><input type="text" id="oyaId" name="oyaId" maxlength="10" class=" primaryKey numbering notblank" />
        </div>
        <div id="oyaInfo">
          <label for="oyaInfo" th:text="#{oyaInfo}">親情報</label><input type="text" id="oyaInfo" name="oyaInfo" maxlength="300" />
        </div>
        <div id="insertTs">
          <label th:text="#{insertTs}" class="meta">作成タイムスタンプ</label><span id="insertTs" class="meta YmdHmsS"></span><input type="hidden" id="insertTs" name="insertTs" class="meta" />
        </div>
        <div id="insertUserId">
          <label th:text="#{insertUserId}" class="meta">作成者</label><span id="insertUserId" class="meta"></span><input type="hidden" id="insertUserId" name="insertUserId" class="meta" /><span id="insertUserSei" class="refer meta" data-referFor="insertUserId" data-json="MhrUserSearch.json" data-srcDef="USER_ID:insertUserId" data-destDef="insertUserSei:USER_SEI"></span>
        </div>
        <div id="updateTs">
          <label th:text="#{updateTs}" class="meta">更新タイムスタンプ</label><span id="T02Oya.updateTs" class="meta YmdHmsS"></span><input type="hidden" id="updateTs" name="T02Oya.updateTs" class="meta" />
        </div>
        <div id="updateUserId">
          <label th:text="#{updateUserId}" class="meta">更新者</label><span id="updateUserId" class="meta"></span><input type="hidden" id="updateUserId" name="updateUserId" class="meta" /><span id="updateUserSei" class="refer meta" data-referFor="updateUserId" data-json="MhrUserSearch.json" data-srcDef="USER_ID:updateUserId" data-destDef="updateUserSei:USER_SEI"></span>
        </div>
        <div id="koBn">
          <label for="koBn" th:text="#{koBn}">子枝番</label><input type="text" id="koBn" name="koBn" maxlength="10" class=" primaryKey numbering notblank" />
        </div>
        <div id="koInfo">
          <label for="koInfo" th:text="#{koInfo}">子情報</label><input type="text" id="koInfo" name="koInfo" maxlength="300" />
        </div>
        <div id="updateTs">
          <label th:text="#{updateTs}" class="meta">更新タイムスタンプ</label><span id="T02Ko.updateTs" class="meta YmdHmsS"></span><input type="hidden" id="updateTs" name="T02Ko.updateTs" class="meta" />
        </div>
        <div id="magoBn">
          <label for="magoBn" th:text="#{magoBn}">孫枝番</label><input type="text" id="magoBn" name="magoBn" maxlength="10" class=" primaryKey numbering notblank" />
        </div>
        <div id="magoInfo">
          <label for="magoInfo" th:text="#{magoInfo}">孫情報</label><input type="text" id="magoInfo" name="magoInfo" maxlength="300" />
        </div>
        <div id="updateTs">
          <label th:text="#{updateTs}" class="meta">更新タイムスタンプ</label><span id="T02Mago.updateTs" class="meta YmdHmsS"></span><input type="hidden" id="updateTs" name="T02Mago.updateTs" class="meta" />
        </div>
      </fieldset>
      <div class="buttons">
        <button type="button" id="RefreshD0002" th:text="#{common.reset}" class="reset" onClick="Dialogate.refresh(event);">reset</button>
        <a th:href="@{D0002Get.xlsx(baseMei=#{D0002.h2})}" id="D0002Get.xlsx" th:text="#{common.xlsx}" class="output" tabindex="-1">xlsx</a>
      </div>
      <div class="submits">
        <button id="DeleteD0002" type="submit" class="delete" data-action="D0002Delete.ajax" th:text="#{common.delete}" tabindex="-1">削除</button>
        <button id="RegistD0002" type="submit" class="regist" th:text="#{common.regist}">登録</button>
      </div>
    </form>
  </div>
</body>
</html>
